:root {
  /* COLORS */
  --card-color: rgb(249, 249, 249);
  --border-color: #e5e8eb;
  --border-color-light: #f8f8f8;
  --background-color: white;
  --text-color-main: rgb(46, 46, 46);
  --text-color-link: #009490;
  --text-color-link-focus: #006764;
  --text-color-link-visited: #015964;
  --shadow-color: rgba(0,0,0,0.15);
  --textblock-background: rgba(0,0,0,0.05);
  --leaf-bg-color: whitesmoke;
}