@font-face {
  font-family: 'DejaVu Sans';
  src: url('../../static/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSans.ttf') format('truetype');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('../../static/fonts/dejavu-fonts-ttf-2.37/ttf/DejaVuSansMono.ttf') format('truetype');
}

:root {
  --font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  --code-font-family: 'DejaVu Sans Mono', monospace;
  /* SIDEBAR WIDTH */
  --right-sidebar-width: 0%;
}

/* GENERAL */
body{
  background-color: var(--background-color);
  color: var(--text-color-main);
}

* {
  font-family: var(--font-family)
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--shadow-color);
}

p {
  margin: 0;
  padding:0;
}

pre, code {
  font-family: var(--code-font-family);
}

a,
.clickable-text {
  color: var(--text-color-link)
}

a:hover, a:focus,
.clickable-text:hover, .clickable-text:focus{
  color: var(--text-color-link-focus)
}

a:visited,
.clickable-text:visited{
  color: var(--text-color-link-visited)
}

table .textblock {
  background-color: transparent;
}
.sidecontainer {
  display: flex;
  max-width: 100%;
}

.bottom {
  margin-bottom: 0.2em;
  margin-top: auto;
}

.inline-block {
  display: inline-block;
}

.tab {
  padding-left: 1em;
}

.break-word {
  word-break: break-all;
}

summary,
.clickable {
  cursor: pointer;
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #dddddd;
  padding: 3px 0.5em 3px 0.5em;
  word-wrap: break-word;
}

tr:nth-child(odd) {
  background-color: var(--table-odd-bg-color)
}

.flag_isExported {
  display: none;
}

.flag_isOptional {
  display: none;
}

/* CENTER */
.textblock ul {
  list-style-type: disc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CENTER - SIGNATURES */
.signature-list {
  margin-left: 0;
  padding-left: 1em;
}

.signature {
  font-size: 90%;
  position: relative;
}

.signature .kind-string {
  margin-bottom: 0;
  margin-top: auto;
  margin-left: 0.5em;
}

.signatures {
  border: solid thin var(--shadow-color);
  padding: 10px;
}

.signature-body {
  padding-left: 1em;
}

  /* CENTER - TOP BAR */
.top-bar{
  display: flex;
  margin: 1em;
  padding: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: auto;
  background-color: var(--top-bar-bg-color);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
}

.project-title,
.top-bar > .sidecontainer > .bottom,
.top-bar > .sidecontainer > .bottom > a{
  color: var(--top-bar-text-color);
}

.search{
  font-size: 110%;
  height: 1.2em;
  width: 28em;
  max-width: 80%;
  margin: auto 0.5em 0.5em auto;
}

.search input {
  border-color: var(--border-color);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.search ul {
  background-color: var(--background-color);
  max-height: 80vh;
  overflow-y: scroll;
  word-wrap: break-word;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1000;
}

.search li {
  position: relative;
  border: thin solid var(--shadow-color);
  padding: 0.4em 1em 0.4em 1em;
}

/* CENTER - MAIN */
.main {
  margin-right: var(--right-sidebar-width);
  padding: 0px 10px;
}

.item-box {
  background-color: var(--card-color);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 1em;
  padding: 1em;
  padding-left: 2em;
}

.children-summary {
  border: thin solid var(--border-color);
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 95%;
}

.leaf {
  border: thin solid var(--border-color-light);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 95%;
  background-color: var(--leaf-bg-color);
}

.project-title {
  padding: 0 0.5em 0 0.5em;
  font-size: 250%;
}

.title {
  font-size: 175%;
}

.subtitle {
  font-size: 150%;
}

.subsubtitle {
  font-size: 125%;
}

.kind-string {
  font-size: 100%;
  padding-left: 0;
}

.title a {
  color: var(--text-color-link);
}

.textblock {
  background: var(--textblock-background);
  padding: 10px;
  max-width: 100%;
  overflow-x: auto;
}

.returns .textblock {
  background: transparent;
  padding: 0;
  border: none;
  font-weight: normal;
}

.returns {
  font-weight: bold;
}

.type{
  display: inline-block;
}

.declaration * {
  display: inline-block;
}

.tags li p {
  margin-top: auto;
  margin-bottom: auto;
}

.search-link {
  display: inline-block;
  vertical-align: middle;
  font-family: var(--code-font-family);
}

.flags ul {
  padding-left: 0;
}

.references li {
  display: inline-block;
  margin: 0.5em;
}

.item-list li {
  display: inline-block;
  width: 30%;
  margin: 0.5em;
}

.item-list li a,
.item-list li button {
  word-break: break-all;
  text-align: left;
}

.text-img {
  max-width: 90%;
  height: auto;
}

.type ul {
  margin: 0;
  padding: 0;
}

.type-parameter ul {
  list-style-type: disc;
}

/* remove button styling from clickable text button */
.clickable-text {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
  outline: inherit;
  cursor: pointer;
  color: var(--text-color-link);
  text-decoration: underline;
}

/* Directory tree & flat module list */
.directory-item {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  display: inline-block;
}

.directory-list {
  font-size: 125%
}

.tree-module-list,
.flat-module-list {
  padding-top: 2em;
}

.module .children-summary a{
  font-family: var(--code-font-family);
}

.signature > .signature-summary-item > .signature-title:first-child {
  font-size: 175%;
}

.children-summary a,
.group a,
.group button,
.flat-module-list a,
.symbol-title a,
.signature-summary-item,
.type,
.directory-item,
.directory-item a,
.bread-crumbs,
.bread-crumbs a{
  font-family: var(--code-font-family);
}