.icon_Class {
    content: url('https://image.flaticon.com/icons/svg/2638/2638424.svg');
    display: none;
}

.icon_Interface {
    content: url("https://image.flaticon.com/icons/svg/2497/2497519.svg");
    display: none;
}

.icon_Method {
    content: url("https://image.flaticon.com/icons/svg/2519/2519358.svg");
    display: none;
}

.icon_Accessor {
    content: url("https://image.flaticon.com/icons/svg/2497/2497513.svg");
    display: none;
}

.icon_Constructor {
    content: url("https://image.flaticon.com/icons/svg/2766/2766844.svg");
    display: none;
}

.icon_External_module {
    content: url("https://image.flaticon.com/icons/svg/2497/2497497.svg");
    display: none;
}

.icon_Property {
    content: url("https://image.flaticon.com/icons/svg/2497/2497459.svg");
    display: none;
}

.icon_Function {
    content: url("https://image.flaticon.com/icons/svg/2638/2638364.svg");
    display: none;
}

.icon_Enumeration {
    content: url("https://image.flaticon.com/icons/svg/2638/2638457.svg");
    display: none;
}

.icon_Enumeration_member {
    content: url("https://image.flaticon.com/icons/svg/2638/2638433.svg");
    display: none;
}

.icon_Event {
    content: url("https://image.flaticon.com/icons/svg/2638/2638283.svg");
    display: none;
}

.icon_Flag {
    content: url("https://image.flaticon.com/icons/svg/2638/2638352.svg");
    display: none;
}

/* TEMPLATE
.icon_ {
    content: url("");
}
*/