{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    ["prismjs", {
      "languages": ["javascript", "json", "css"],
      "plugins": ["line-numbers", "show-language"],
      "theme": "tomorrow", //dark themes: okaidia, tomorrow, twilight, dark ;light themes: coy
      "css": true
    }]
  ]
}