:root {
  --left-sidebar-width: 20%;
  --right-sidebar-width: 15%;
  --sidebar-color: whitesmoke;
  --card-color: whitesmoke;
  --border-color: rgb(187, 187, 187);
  --background-color: rgb(255, 255, 255);
  --text-color-main: rgb(46, 46, 46);
  --text-color-secondary: blue;
}

/* GENERAL */
body{
  background-color: var(--background-color);
  color: var(--text-color-main);
}

ul {
  list-style-type: none;
}

.icon {
  height: 1.2em;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.icon * {
  height: 100%;
  width: auto;
}

.sidecontainer {
  display: flex;
  max-width: 100%;
}

summary,
.clickable {
  cursor: pointer;
}

/* SIDEBARS - GENERAL */
.rightsidenav,
.leftsidenav {
  height: 100%;
  width: var(--left-sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sidebar-color);
  padding-top: 20px;
  border: thin solid var(--border-color);
  font-size: 150%;
}

.rightsidenav{
  width: var(--right-sidebar-width);
  left: calc(100% - var(--right-sidebar-width));
}

.rightsidenav h3,
.leftsidenav h3 {
  margin: 0.5em;
  font-size: 25px;
}

/* SIDEBAR - LEFT */
.directories,
.classes {
  padding: 0.2em;
  margin: 0.5em;
  border: thin solid var(--border-color);
  height: 35vh;
  font-size: 80%;
  overflow: auto;
  white-space: nowrap;
  resize: vertical;
}

.mainlogo img {
  display: block;
  margin: auto;
  max-height: 10vh;
  max-width: 95%;
}

.directoryitem {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  resize: vertical;
  display: inline-block;
}

.directoryitem li:first-child {
  list-style-type: "\21B3";
}

.filteritem {
  font-size: 70%;
}

.filteroptions {
  margin: 0;
}

.filter summary{
  margin-left:0.5em;
}

.filter summary h3 {
  margin-left: 0;
}

.filter .expanded {
  margin-left: 1em;
}

.pathfilter input {
  width: 90%;
}

/* SIDEBAR - RIGHT */
.legend {
  list-style-type: none;
  word-break: break-all;
}

/* CENTER */
.textblock ul {
  list-style-type: disc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CENTER - SIGNATURES */
.signaturelist {
  padding-left: 2em;
}

.signaturelist ul {
  list-style-type: disc;
}

.signature {
  font-size: 90%;
  position: relative;
}

.signatures {
  border: solid thin rgba(0,0,0,0.1);
  padding: 10px;
}

.signatureBody {
  padding-left: 1em;
}

/* CENTER - TOP BAR */
.topbarspace {
height: 4em;
}

.topbar{
  display: flex;
  margin: 1em;
  margin-left: 30%;
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: fixed;
  z-index: 100;
  border-radius: 0.5em;
}

.search{
  font-size: 110%;
  height: 1.2em;
  width: 97%;
  margin: 0.5em auto 0.5em auto;
}

.search input {
  text-align: right;
  border-radius: 15px;
  border-color: var(--border-color);
  width: inherit;
  height: inherit;
  padding-right: 15px;
}

.search ul {
  background-color: white;
  max-height: 80vh;
  overflow-y: scroll;
  width: 100%;
  padding: 0;
}

.search li {
  position: relative;
  border: thin solid lightgray;
  padding: 0.4em 1em 0.4em 1em;
}

/* CENTER - MAIN */
.main {
  margin-left: var(--left-sidebar-width);
  margin-right: var(--right-sidebar-width);
  padding: 0px 10px;
}

.itembox {
  background-color: var(--card-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  margin: 1em;
  padding: 1em;
  padding-left: 2em;
}

.childbox {
  border: thin solid var(--border-color);
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 95%;
}

.title {
  font-size: 175%;
  font-style: oblique;
}

.subtitle {
  font-size: 150%;
  font-style: oblique;
}

.subsubtitle {
  font-size: 125%;
  font-style: oblique;
}

.kindString {
  font-size: 100%;
  font-style: italic;
  padding-left: 0;
}

p {
  margin: 0;
  padding:0;
}

.title a {
  color: darkblue;
}

.textblock {
  background: rgba(0,0,0,0.02);
  padding: 10px;
  border: solid thin rgba(0,0,0,0.1);
  border-radius: 5px;
  max-width: 100%;
  overflow-x: auto;
}

.returns .textblock {
  background: transparent;
  padding: 0;
  border: none;
  font-weight: normal;
}

.returns {
  font-weight: bold;
}

.searchLink {
  display: inline-block;
  vertical-align: middle;
}

.flags ul {
  padding-left: 0;
}

.links li {
  display: inline-block;
  margin: 0.5em;
}

.itemList li {
  display: inline-block;
  width: 30%;
  margin: 0.5em;
}

.itemList li a,
.itemList li button {
  word-break: break-all;
  text-align: left;
}

.textimg {
  max-width: 90%;
  height: auto;
}

/* remove button styling from clickable text button */
.clickabletext {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  outline: inherit;
  cursor: pointer;
}