 summary::-webkit-details-marker {
 color: black;
 margin-right: 2px;
}
summary:focus {
	outline-style: none;
}

details > p {
	margin-left: 2px;
}
details details {
	margin-left: 2px;
}
details details summary {
	font-size: 90%;
}
