:root {
  /* COLORS */
  --card-color: rgb(249, 249, 249);
  --border-color: rgb(187, 187, 187);
  --border-color-light: rgb(210,210,210);
  --background-color: white;
  --text-color-main: rgb(46, 46, 46);
  --text-color-link: darkblue;
  --shadow-color: rgba(0,0,0,0.15);
  --textblock-background: rgba(0,0,0,0.05);
  --leaf-bg-color: whitesmoke;
}