:root {
  /* SIDEBAR WIDTH */
  --left-sidebar-width: 0%;
  --right-sidebar-width: 0%;
  /* COLORS */
  --sidebar-color: whitesmoke;
  --card-color: rgb(249, 249, 249);
  --border-color: rgb(187, 187, 187);
  --background-color: white;
  --text-color-main: rgb(46, 46, 46);
  --text-color-link: darkblue;
  --shadow-color: rgba(0,0,0,0.15);
  --textblock-background: rgba(0,0,0,0.05);
}

/* GENERAL */
body{
  background-color: var(--background-color);
  color: var(--text-color-main);
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--shadow-color);
}

.icon {
  height: 1.2em;
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.icon * {
  height: 100%;
  width: auto;
}

.sidecontainer {
  display: flex;
  max-width: 100%;
}

.bottom {
  margin-bottom: 0.2em;
  margin-top: auto;
}

.inline-block {
  display: inline-block;
}

.tab {
  padding-left: 1em;
}

.break-word {
  word-break: break-all;
}

summary,
.clickable {
  cursor: pointer;
}

/* tables */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #dddddd;
  padding: 3px 0.5em 3px 0.5em;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.main-logo img {
  display: block;
  margin: auto;
  max-height: 10vh;
  max-width: 95%;
}

.filter-item {
  font-size: 70%;
}


/* SIDEBAR - RIGHT */
.right-sidebar {
  display: none;
}

.legend {
  list-style-type: none;
  word-break: break-all;
}

.flag_isExported {
  display: none;
}

/* CENTER */
.textblock ul {
  list-style-type: disc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CENTER - SIGNATURES */
.signature-list {
  margin-left: 0;
  padding-left: 1em;
}

.signature {
  font-size: 90%;
  position: relative;
}

.signature .kind-string {
  margin-bottom: 0;
  margin-top: auto;
  margin-left: 0.5em;
}

.signatures {
  border: solid thin var(--shadow-color);
  padding: 10px;
}

.signature-body {
  padding-left: 1em;
}

/* CENTER - TOP BAR */
.top-bar-space {
height: 4em;
}

.top-bar{
  display: flex;
  margin: 1em;
  padding: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  width: auto;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  border-radius: 0.5em;
}

.search{
  font-size: 110%;
  height: 1.2em;
  width: 24em;
  max-width: 80%;
  margin: auto 1em 0.5em auto;
}

.search input {
  text-align: right;
  border-color: var(--border-color);
  border-radius: 15px;
  padding-right: 15px;
  width: 100%;
  height: 100%;
}

.search ul {
  background-color: var(--background-color);
  max-height: 80vh;
  overflow-y: scroll;
  word-wrap: break-word;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search li {
  position: relative;
  border: thin solid var(--shadow-color);
  padding: 0.4em 1em 0.4em 1em;
}

/* CENTER - MAIN */
.main {
  margin-left: var(--left-sidebar-width);
  margin-right: var(--right-sidebar-width);
  padding: 0px 10px;
}

.item-box {
  background-color: var(--card-color);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 1em;
  padding: 1em;
  padding-left: 2em;
}

.children-summary {
  border: thin solid var(--border-color);
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 95%;
}

.leaf {
  border: thin solid rgb(210,210,210);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 1em;
  margin-left: 0;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 95%;
  background-color: whitesmoke;
}

.project-title {
  padding: 0 0.5em 0 0.5em;
  font-size: 250%;
  font-style: oblique;
}

.title {
  font-size: 175%;
  font-style: oblique;
}

.subtitle {
  font-size: 150%;
  font-style: oblique;
}

.subsubtitle {
  font-size: 125%;
  font-style: oblique;
}

.kind-string {
  font-size: 100%;
  font-style: italic;
  padding-left: 0;
}

p {
  margin: 0;
  padding:0;
}

.title a {
  color: var(--text-color-link);
}

.textblock {
  background: var(--textblock-background);
  padding: 10px;
  max-width: 100%;
  overflow-x: auto;
}

.returns .textblock {
  background: transparent;
  padding: 0;
  border: none;
  font-weight: normal;
}

.returns {
  font-weight: bold;
}

.type{
  display: inline-block;
}

.declaration * {
  display: inline-block;
}

.tags li p {
  margin-top: auto;
  margin-bottom: auto;
}

.search-link {
  display: inline-block;
  vertical-align: middle;
}

.flags ul {
  padding-left: 0;
}

.references li {
  display: inline-block;
  margin: 0.5em;
}

.item-list li {
  display: inline-block;
  width: 30%;
  margin: 0.5em;
}

.item-list li a,
.item-list li button {
  word-break: break-all;
  text-align: left;
}

.text-img {
  max-width: 90%;
  height: auto;
}

.type ul {
  margin: 0;
  padding: 0;
}

.type-parameter ul {
  list-style-type: disc;
}


/* remove button styling from clickable text button */
.clickable-text {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  outline: inherit;
  cursor: pointer;
  color: rgb(2, 85, 126);
  text-decoration: underline;
}

.directory-item {
  padding: 0;
  margin: 0;
  margin-left: 1em;
  display: inline-block;
}

.directory-list {
  font-size: 125%
}

.tree-module-list,
.flat-module-list {
  padding-top: 2em;
}

.flat-button,
.tree-button {
  background-color: #aaaaaa;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}